html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper {
    height: 100%;
}

.window-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#speaker-info {
    text-align: center;
}

#btn-saikoh {
    transition-duration: 0.5s;
    transition-property: opacity;
    opacity: 1;

    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    background: none;
}

#btn-saikoh[disabled] {
    visibility: hidden;
    opacity: 0;
}

#btn-saikoh:active {
    transform: scale(0.98);
}

#btn-saikoh img {
    height: 100px;
}